body {
    font-family: "Noto Sans", sans-serif;
}

nav, img, video {
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 30px;
}

section {
  scroll-margin-top: 220px;
}

#intro {
    background-color: #d9fcbf;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #5654BF;
}

figcaption {
    text-align: center;
}

.ancre {
    color: unset;
}

h3 {
    text-decoration: underline;
}

main {
    /* background-color: white; */
    background-color: #F3F3F3;
}

#contenu-main {
    /* background-color: floralwhite; */
    background-color: white;
}

.projet-img-div {
    width: 100%;
}

.projet-texte-div {
    text-align: justify;
}

summary, details {
    border: 1px solid #F0F0F0;
}

summary {
    list-style: none;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

details:open > summary {
    background-color: #F0F0F0;
}

details:open {
    background-color: #F8F8F8;
}

#contact {
    color: white;
    background-color: #666;
}

footer a {
    color: #e5e5e5;
}

@media screen and (min-width : 768px) {
    .projet-img-div {
        max-width: 580px;
        min-width: 400px;
        width: 50%;
    }

    .projet-texte-div {
        width: 500px;
    }

    section {
        scroll-margin-top: 30px;
    }
}