* {
    margin: 0;
}

:root {
    --header-text-color: #ff8c42;
    --main-background-color: ghostwhite;
    --navbar-background-color: azure;
    --navbar-hover-color: lightgray;
}

body {
    background-color: var(--main-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
    color: var(--header-text-color);
}

nav {
    background-color: var(--navbar-background-color);
    position: fixed;
    top: 0;
    width: 12em;
    border: solid 1px gray;
    height: 100%;

    overflow-y: auto;

    padding: 1em;
    box-shadow: 5px 0px 5px gray;
}

/* Changement du style du curseur de la souris et du caractère pour le "summary" */
summary {
    cursor: pointer;
    list-style: none;
}

summary:hover {
    background-color: var(--navbar-hover-color);
}

/*Ajout de caractère "+" pour la liste*/
summary::before {
    content: "+";
    position: absolute;
    right: 10px;

    /* Déplacement vertical du caractère "+"
    transform: translateY(5%);
    */

}

/*
summary:nth-of-type(6)::before {
    transform: translateY(20%);
}
*/

details {
    padding: 0.5em 0;
}

details p {
    padding: 0.5em 0.5em 0.5em 2em;
}

/* nav : 12em + 2*1em de padding */
header, main, footer {
    margin-left: 14em;
}

/* ToDo accordeon joli avec CSS et JS
https://www.freecodecamp.org/news/build-an-accordion-menu-using-html-css-and-javascript/
*/

header {
    border: dotted 1px black;
    text-align: center;

    padding: 1em 3em;
}

/* Début soluce complete*/

.soluce-complete {
    border: dashed 1px black;
    padding: 0em 2em 2em 2em;
}

.soluce-complete h2 {
    text-align: center;
    margin-top: 2em;
}

.soluce-complete h3 {
    padding-left: 2em;
    margin-top: 2em;
}

.soluce-complete p {
    margin: 1em;
}

.bloc-niveau {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.bloc-images {
    border: dashed 1px red;
    text-align: center;
/*Fixé par l'image la plus large = 581px*/
    width: 600px;
}

.legende p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legende img {
    margin: 0 0.5em;
}

.resume {
    text-align: center;
}