body {
    font-family: "Noto Sans", sans-serif;
}

header {
    position: sticky;
    top: 0px;
}

header, img {
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 30px;
}

#intro {
    background-color: #e5f9e9;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #6F2BE0;
}

figcaption {
    text-align: center;
}

main {
    background-color: white;
}

#contenu-main {
    background-color: floralwhite;
}

.bi-rocket-takeoff {
    color: #E08D2B;
}
